* {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.test {
    border: 2px solid yellow;
}

.post {
    border: 2px solid green;
    margin: 5px;
}
.post_content {

}

.post_btn {

}